.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow-x: hidden;
    //min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    flex: 0 0 auto;
}
